<!doctype html>
<html lang="nl">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>[% title or 'Perl in .NL' %]</title>
<meta name="Keywords" content="perl,mongers,nederland" />
<meta name="Description" content="Webstek van de Perl mongers in Nederland" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" type="text/css" media="all" href="/css/all.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
</head>
<body>
<div id="main">
<div id="kopij">
<div id="header">
<h1 id="headertitle">VOOR PERL MONGERS IN NEDERLAND</h1>
</div> <!-- header -->
[% content %]
</div> <!-- kopij -->
<div id="koemeel">
<div id="navi">
<ul>
<li><a href="/">introductie</a></li>
<li><a href="/about/">over perl</a></li>
<li><a href="/news/">perl nieuws</a></li>
<li><a href="/amsterdam/">amsterdam.pm</a></li>
<li><a href="/groningen/">groningen.pm</a></li>
<li><a href="/workshop/">workshop</a></li>
<li><a href="/sppn/">stichting</a></li>
</ul>
</div> <!-- navi -->
</div> <!-- koemeel -->

<div id="footer">
<p>
Powered by <a href="http://perldancer.org/">Dancer</a>
and <a href="http://github.com/">GitHub</a>.
Grafics by <a href="http://oldenburgvc.nl/">Oldenburg Visuele Communicatie</a>.
</p>
</div> <!-- footer -->
</div> <!-- main -->
</body>
</html>
