In <a href="http://www.eet.nu/diemen/ling-hong" target="_blank">Ling Hong</a>
Ouddiemerlaan 15
<a href="https://maps.google.nl/maps?q=Ling+Hong+B.V.,+Ouddiemerlaan+15,+Diemen&hl=nl&sll=52.634651,4.736248&sspn=0.007084,0.017359&oq=Ling+Hong+Ouddiemerlaan+15,+Diemen&hq=ling+hong+bv&hnear=Ouddiemerlaan+15,+Diemen,+Noord-Holland&t=m&z=16"
   target="_blank">1111 GS</a>
Diemen
