Ivm. de coronamaatregelen zal er geen geen fysieke bijeenkomst zijn, we proberen echter bijeen te komen via <a
href="https://meet.jit.si/amsterdam.pm">Jitsi</a><br>
Because of the corona regulations, there will be no physical meeting, but we try to have a virtual one at <a
href="https://meet.jit.si/amsterdam.pm">Jitsi</a>. <br>
