<p>
Na twee jaar COVID-19 maatregelen blijven we onze bijeenkomsten voorlopig online organiseren via <a
href="https://meet.jit.si/amsterdam.pm">Jitsi</a>. Jitsi werkt prima in een browser of via een App
op een mobiel apparaat.<br>
</p>
<p>
After two years of COVID-19 restrictions we will continue to organise our meetings online at <a
href="https://meet.jit.si/amsterdam.pm">Jitsi</a>. Jitsi works just fine in your browser or with
the App on your mobile device.<br>
</p>
