<div>
<ul>
<li><a href="/peek/ENV">env</a></li>
<li><a href="/peek/INC">inc</a></li>
<li><a href="/peek/request">request</a></li>
<li><a href="/peek/session">session</a></li>
<li><a href="/peek/vars">vars</a></li>
<li><a href="/peek/cookies">cookies</a></li>
<li><a href="/peek/config">config</a></li>
</ul>
</div>
