In <a
      href="https://www.google.nl/maps/place/Technologia+Incognita,+Louwesweg+1,+1066+EA+Amsterdam/@52.3454862,4.8264313,17z/data=!4m2!3m1!1s0x47c5e18860bc2deb:0x4bde8a58895ecf8a"
      target=_blank>Tech Inc.</a> Louwesweg 1 1066EA Amsterdam.
